@import '../App.scss';

.active01{
    color: #160D3D !important;
    // background: #160D3D;
    padding: 10px;
    text-decoration: none;
}

.pending{
    color: #000000 !important;
    padding: 10px;
    text-decoration: none;
}