@import '../../App.scss';

.card-statistic{
  background-color: white;
  padding: 20px;
  border-radius: 15px;

  .content{
    padding-left: 10px;
  }
}

.icon-caret{
  padding-left: 5px;
}

.card-custom {
  border-radius: 15px !important;
}

.btn-dropdown {
	border-radius: 0.375rem !important;

}

.page-header-custom {
  margin-top: -16px !important;
  margin-bottom: 1.2rem !important;
}

.tableSmallScreen{
  display: none;
}


/* ====================================================================
  MEDIA QUERY
 ===========================================================*/

 @media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/



}



@media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/


  /* ==========================================
  LOGIN SCREEN  STYLES
  ====================================
  */
  

}


@media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/

  /* ==========================================
  LOGIN SCREEN  STYLES
  ====================================
  */
  .tableSmallScreen{
    display: block;
  }

  .tableBigScreen{
    display: none;
  }

}